# Dependências
node_modules/
 
# Build / saída do tsc
dist/
build/
 
# Logs
*.log
npm-debug.log*
 
# Variáveis de ambiente
.env
.env.*
!.env.example
 
# Sistema operacional
.DS_Store
Thumbs.db
 
# Editor
.vscode/*
!.vscode/settings.json
.idea/
